.App {
  background-color: #24969b;
  max-height: 100%;
  min-height: 100vh; }

.listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 80%;
  margin: 25px auto 0 auto; }
  .listing .singleNote {
    flex: 200px;
    min-height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #9e8155e5; }
    .listing .singleNote a {
      text-decoration: none; }
    .listing .singleNote .noteTitle {
      font-family: "Caveat", cursive;
      color: black;
      font-weight: bolder;
      font-size: x-large; }
    .listing .singleNote hr {
      border: 0;
      height: 1px;
      background: black;
      background-image: linear-gradient(to right, #9e8155, black, #9e8155); }
    .listing .singleNote .noteContent {
      color: white;
      font-size: medium;
      font-family: "Raleway", sans-serif; }
    .listing .singleNote .anon {
      color: white;
      font-size: large;
      font-family: "Raleway", sans-serif;
      margin-top: 5px; }
    .listing .singleNote .noteAuthor {
      color: white;
      font-size: medium;
      font-family: "Raleway", sans-serif;
      margin-top: 5px;
      font-family: "Allura", cursive;
      font-size: x-large; }

.NavBarContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  background-color: #86aa38;
  -webkit-box-shadow: 0px 1px 5px black;
  -moz-box-shadow: 0px 1px 5px black;
  box-shadow: 0px 1px 5px black; }
  .NavBarContainer h3 {
    margin: 0; }
  .NavBarContainer .header {
    margin: 10px 0 0 25px;
    font-family: "Caveat", cursive;
    font-size: 40px; }
  .NavBarContainer .links {
    display: flex;
    margin: 0px 0 10px 25px;
    font-family: "Open Sans", sans-serif; }
    .NavBarContainer .links a {
      color: black; }
    .NavBarContainer .links .notesLink {
      margin-right: 20px; }

.noteView {
  width: 50%;
  margin: 50px auto 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #9e8155e5;
  padding: 25px; }
  .noteView .oneTitle {
    font-family: "Caveat", cursive;
    color: black;
    font-weight: bolder;
    font-size: 50px; }
  .noteView hr {
    border: 0;
    height: 1px;
    background: black;
    background-image: linear-gradient(to right, #9e8155, black, #9e8155); }
  .noteView .oneContent {
    color: white;
    font-size: xx-large;
    font-family: "Raleway", sans-serif; }
  .noteView .oneName {
    color: white;
    font-size: medium;
    font-family: "Raleway", sans-serif;
    margin-top: 5px;
    font-family: "Allura", cursive;
    font-size: 50px; }
  .noteView .anon {
    color: white;
    font-size: medium;
    font-family: "Raleway", sans-serif;
    margin-top: 5px;
    font-size: 40px; }

@media (max-width: 800px) {
  .noteView .oneTitle {
    font-size: 40px; }
  .noteView .oneContent {
    font-size: x-large; } }
@media (max-width: 400px) {
  .noteView {
    width: 80%; }
    .noteView .oneTitle {
      font-size: 30px; }
    .noteView .oneContent {
      font-size: large; }
    .noteView .oneName {
      font-size: xx-large; } }
.createNoteContainer {
  width: 50%;
  margin: auto; }
  .createNoteContainer h3 {
    font-family: "Caveat", cursive;
    font-size: xx-large;
    margin-bottom: 10px; }
  .createNoteContainer .inputFields {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .createNoteContainer .inputFields input {
      margin-top: 15px;
      height: 40px;
      width: 350px;
      border-radius: 5px;
      font-family: "Open Sans", sans-serif;
      border-style: none;
      text-indent: 5px;
      border: 1px solid black; }
    .createNoteContainer .inputFields textarea {
      margin-top: 15px;
      height: 100px;
      width: 350px;
      border-radius: 5px;
      resize: none;
      font-family: "Open Sans", sans-serif;
      text-indent: 5px;
      padding-top: 10px;
      border-style: none;
      border: 1px solid black; }
    .createNoteContainer .inputFields button {
      width: 100px;
      height: 30px;
      margin-top: 15px;
      border-radius: 5px;
      background-color: white; }
    .createNoteContainer .inputFields .detectedBadWord {
      border: 1px solid black;
      padding: 100px 50px 100px 50px;
      background-color: white;
      font-family: "Raleway", sans-serif;
      border-radius: 5px;
      color: red;
      font-size: 2vw;
      z-index: 500;
      position: absolute; }
    @media (max-width: 800px) {
      .createNoteContainer .inputFields .detectedBadWord {
        text-align: center;
        font-size: 3vw;
        padding: 50px 15px 50px 15px; } }
    @media (max-width: 400px) {
      .createNoteContainer .inputFields .detectedBadWord {
        text-align: center;
        width: 80%;
        font-size: 7vw;
        padding: 25px 5px 25px 5px; }
      .createNoteContainer .inputFields textarea,
      .createNoteContainer .inputFields input {
        font-size: 16px; } }

/*# sourceMappingURL=Notes.css.map */
