.listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  margin: auto;
}

.singleNote {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 25px;
  padding: 20px;
}