// App

.App {
  background-color: #24969b;
  max-height: 100%;
  min-height: 100vh;
}

// Notes List

.listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 80%;
  margin: 25px auto 0 auto;

  .singleNote {
    flex: 200px;
    min-height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #9e8155e5;

    a {
      text-decoration: none;
    }

    .noteTitle {
      font-family: "Caveat", cursive;
      color: black;
      font-weight: bolder;
      font-size: x-large;
    }

    hr {
      border: 0;
      height: 1px;
      background: rgb(0, 0, 0);
      background-image: linear-gradient(
        to right,
        #9e8155,
        rgb(0, 0, 0),
        #9e8155
      );
    }

    .noteContent {
      color: white;
      font-size: medium;
      font-family: "Raleway", sans-serif;
    }

    .anon {
      color: white;
      font-size: large;
      font-family: "Raleway", sans-serif;
      margin-top: 5px;
    }

    .noteAuthor {
      color: white;
      font-size: medium;
      font-family: "Raleway", sans-serif;
      margin-top: 5px;
      font-family: 'Allura', cursive;
      font-size: xx-large;
    }
  }
}

// Nav

.NavBarContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  background-color: #86aa38;
  -webkit-box-shadow: 0px 1px 5px rgb(0, 0, 0);
  -moz-box-shadow: 0px 1px 5px rgb(0, 0, 0);
  box-shadow: 0px 1px 5px rgb(0, 0, 0);

  h3 {
    margin: 0;
  }

  .header {
    margin: 10px 0 0 25px;
    font-family: "Caveat", cursive;
    font-size: 40px;
  }

  .links {
    display: flex;
    margin: 0px 0 10px 25px;
    font-family: "Open Sans", sans-serif;

    a {
      color: black;
    }

    .notesLink {
      margin-right: 20px;
    }
  }
}

// Single note view

// Create note
